@mixin theme() {
  .app--light &,
  &--light {
    color: map-get($theme-light, 'text-color');
    background-color: map-get($theme-light, 'main-bg');
  }

  .app--dark &,
  &--dark {
    color: map-get($theme-dark, 'text-color');
    background-color: map-get($theme-dark, 'main-bg');
  }
}

@mixin theme-light {
  .app--light &,
  &--light {
    @content;
  }
}

@mixin theme-dark {
  .app--dark &,
  &--dark {
    @content;
  }
}
