@import './app';

// Btn
.el-button {
  &--blocked {
    display: block;
    width: 100%;
  }
}

// Layout
.el-aside {
  overflow: initial;
}

// Menu
.el-menu {
  @include theme-dark {
    background-color: map-get($theme-dark, 'menubar-bg');
  }

  &--horizontal.el-menu {
    border-bottom: none;

    .el-menu-item {
      @include theme-dark {
        &:focus,
        &:hover {
          color: map-get($theme-dark, 'text-color');
          background-color: transparentize($primary, 0.2);
        }
      }
    }
    .el-submenu__title {
      @include theme-dark {
        color: map-get($theme-dark, 'menubar-text-color');
      }

      @include theme-dark {
        &:focus,
        &:hover {
          color: map-get($theme-dark, 'text-color');
          background-color: map-get($theme-dark, 'menubar-bg');
        }
      }

      & & .el-menu {
        background-color: darken(map-get($theme-dark, 'menubar-bg'), 0.7);
      }
    }
  }
}
.el-menu--horizontal .el-menu .el-menu-item,
.el-menu-item {
  @include theme-dark {
    color: map-get($theme-dark, 'menubar-text-color');
    background-color: inherit;
  }

  @include theme-dark {
    &:focus,
    &:hover {
      color: map-get($theme-dark, 'text-color');
      background-color: transparentize($primary, 0.2);
    }
  }

  @include theme-dark {
    &.is-active {
      color: map-get($theme-dark, 'text-color');
      background-color: $primary;
    }
  }

  i {
    color: inherit;
  }
}
.el-submenu {
  &__title {
    @include theme-dark {
      color: map-get($theme-dark, 'menubar-text-color');
    }

    @include theme-dark {
      &:focus,
      &:hover {
        color: map-get($theme-dark, 'text-color');
        background-color: map-get($theme-dark, 'menubar-bg');
      }
    }
  }

  & & .el-menu {
    background-color: darken(map-get($theme-dark, 'menubar-bg'), 0.7);
  }
}

// Form
.el-form-item {
  &__label {
    @include theme-dark {
      color: map-get($theme-dark, 'label-color');
    }
  }
}
.el-input,
.el-textarea {
  &__inner {
    @include theme-dark {
      color: $lightness;
      border-color: transparent;
      background-color: map-get($theme-dark, 'input-bg');
    }

    &::-moz-input-placeholder {
      color: map-get($theme-dark, 'input-placeholder-color');
    }

    &::-webkit-input-placeholder {
      color: map-get($theme-dark, 'input-placeholder-color');
    }

    &:focus {
      border-color: $primary;
    }
  }
}

// Table
.el-table {
  th,
  tr {
    @include theme-dark {
      background-color: map-get($theme-dark, 'main-bg');
    }
  }

  &--border {
    @include theme-dark {
      border-color: map-get($theme-dark, 'divider-color');
    }

    th,
    td {
      @include theme-dark {
        border-color: map-get($theme-dark, 'divider-color');
      }
    }

    @include theme-dark {
      &:before,
      &:after {
        background-color: map-get($theme-dark, 'divider-color');
      }
    }
  }

  &--enable-row-hover .el-table__body tr:hover > td {
    @include theme-dark {
      background-color: map-get($theme-dark, 'table-row-hover-bg');
    }
  }
}

// Pagination
.el-pagination {
  &.is-background {
    .btn-prev,
    .btn-next,
    .el-pager li {
      @include theme-dark {
        background-color: map-get($theme-dark, 'table-row-hover-bg');
      }
    }
  }
}

// Breadcrumb
.el-breadcrumb {
  &__inner {
    a,
    &.is-link {
      @include theme-dark {
        color: $gray-700;
      }
    }
  }
}
